## afficherMenu est défini dans WEB-INF/classes/globalMacros.vm
#macro( menuItem $menu $level )
  ## Fixer le libellé 
  #set ($libelle = $displayer.getMessage($menu))
  ## Fixer l'aide contextuelle
  #set ($aideContextuelle = $displayer.getAideContextuelle($menu)) 
  
  #if ($level == 0)
    #if (!$menu.url) 
      $menu.setUrl($menu.components.get(0).url) 
    #end
    #if ($menu.selectionne)
      #if ($menu.styleCSS)
        <li class="selectionne_$menu.styleCSS">
      #else  
        <li id="selectionne">
      #end
    #else
      #if ($menu.styleCSS)
        <li class="$menu.styleCSS">
      #else  
        <li>
      #end
    #end
     
    <a href="$!{menu.url}" title="${aideContextuelle}">${libelle}</a>

    #if ($menu.components.size() > 0)
      #set ($numItems = $menu.components.size())
      <ul class="submenu">
    #else
      </li>
    #end
  #elseif ($level == 1)
    <li><a href="${menu.url}" title="${aideContextuelle}">${libelle}</a></li>
    #if ($velocityCount == $numItems)
      </ul>
      </li>
    #end
  #end
#end

#afficherMenu($menu 0)