## afficherMenu est défini dans WEB-INF/classes/globalMacros.vm
#macro( menuItem $menu $level )
  ## Fixer le libellé 
  #set ($libelle = $displayer.getMessage($menu))
  ## Fixer l'aide contextuelle
  #set ($aideContextuelle = $displayer.getAideContextuelle($menu)) 
 
    #if (!$menu.url) 
      $menu.setUrl($menu.components.get(0).url) 
    #end

    #if ($menu.selectionne)
      #if ($menu.noMenu == 1)
       <li id="sous_onglet1" class="sous_onglet_courant"><a href="$!{menu.url}" title="${aideContextuelle}">${libelle}</a>
      #else
        <li class="sous_onglet_courant"><a href="$!{menu.url}" title="${aideContextuelle}">${libelle}</a>
      #end
    #else
      #if ($menu.noMenu == 1)
        <li id="sous_onglet1"><a href="$!{menu.url}" title="${aideContextuelle}">${libelle}</a>
      #else
        <li><a href="$!{menu.url}" title="${aideContextuelle}">${libelle}</a>
      #end        
    #end
    </li>
    #if ($!menu.dernierMenuEnfant)
      <li class="spacer">&nbsp;</li>
    #end
#end

#afficherMenu($menu 0)