/* the div with the actual  tree */
div.scroll-tree {
	float:left;
	background-color: #fff;
	border: 1px dashed #999;
	padding: 1em;
}

div#console{
	background-color: #fff;
	border: 1px solid #999;
	padding: 1em;
}

.options {
	float:left;
	margin-left: 2em;
	width:400;
}
