div.tree-item td.customIcon {
	background: url("help/document.gif") no-repeat 0 50%;
}
div.tree-item-expanded td.customIcon {
	background: url("help/book-open.gif") no-repeat 0 50%;
}
div.tree-item-collapsed td.customIcon {
	background: url("help/book-closed.gif") no-repeat 0 50%;
}

