/* lines */

.tree-lines-c {
  background: transparent url("img/lines-c.gif") no-repeat 1px 50%;
}
.tree-lines-b {
  background: transparent url("img/lines-b.gif") no-repeat 1px 50%;
}
.tree-lines-t {
  background: transparent url("img/lines-t.gif") no-repeat 1px 50%;
}
.tree-lines-s {
  background: transparent url("img/lines-s.gif") no-repeat 1px 50%;
}
.tree-lined { background: transparent url("img/lines-v.gif") repeat-y 1px 0; }
.tree-lines-dot { background: transparent url("img/dot.gif") no-repeat 1px 50%; }
