
/* Overall the background and layoutfor the tree */
div.scroll-tree {
	float:left;
	padding-top: .5em;
	padding-bottom: .5em;
	background-color:#6EA4C5;
}


/* Hrefs in a tree item */
div.tree-item td.a {
	text-decoration:none;
}


/* General setting of the tree */
.tree, .tree-item table.tree-table { 
	font: 11px tahoma,verdana,sans-serif; 
}

.tree-item-more {
	padding-left: 1px;
}

.tree-item span.label { 
	cursor: 
	pointer; 
}

.tree-item table.tree-table td.label span.label { 
	padding: 0 2px; 
}

.tree-item .tgb {
	width: 9px; 
	height: 9px; 
	vertical-align: 
	middle; 
	cursor: default;
}

.tree-item .icon { 
	padding-right: 4px; 
	cursor: pointer; 
	width: 18px; 
	height: 18px; 
	text-align: 
	center; 
	vertical-align: 
	middle; 
}

.tree-item-selected table.tree-table td.label span.label { 
	background-color: Highlight; 
	color: HighlightText; 
}




div.tree-item, div.tree-item:hover {
	cursor:pointer;
	margin-bottom: 1px;
	padding:2px;
	text-align:center;
	font-weight:bold;
	color:#DDDDDD;
}

div.tree-item a{
	text-decoration:none;
}

div.tree-item:hover {
	background-color:#8DD1FB;
}

div.tree-item-expanded, div.tree-item-expanded:hover, div.tree-item-collapsed, div.tree-item-collapsed:hover {
	cursor:pointer;
	margin-bottom: 1px;
	padding-left: 1px;
	padding:2px;
	text-align:center;
	font-weight:bold;
	font-size:140%;
	color:#DDDDDD;
}

div.tree-item-expanded div.tree-item-collapsed{
	background-color:#6EA4C5;
}

/* "expanded" folder */
div.tree-item-expanded:hover {
	background-color:#89CCF5;
}


/* "closed" folder */
div.tree-item-collapsed:hover {
	background-color:#89CCF5;
}

/* custom icons for expanded and closed folder */

div.tree-item-expanded td.customIcon {
	background: url("../windows/menu_folder_open.gif") 
	no-repeat 0 50%;
}
div.tree-item-collapsed td.customIcon {
	background: url("../windows/menu_folder_closed.gif") 
	no-repeat 0 50%;
}

/* Makes an indent for each subtree */
.tree { padding-left: 10px; }

/* the area of the tree that is expanded */
.tree-lined {
	background-color:#7EBBE0;
}

