div.scroll-tree {
	float:left;
	background-color: #fff;
	border: 1px dotted #999;
	padding-top: .5em;
	padding-bottom: .5em;
	background-color:#F2F2F2;
}


div.tree-item td.a {
	text-decoration:none;
	color: #000000; 
}



.tree, .tree-item table.tree-table { 
	font: 11px tahoma,verdana,sans-serif; 
}

.tree-item-more {
	padding-left: 1px;
}

.tree-item span.label { 
	cursor: 
	pointer; 
}

.tree-item table.tree-table { }

.tree-item table.tree-table td.label span.label { 
	padding: 0 2px; 
}

.tree-item .tgb {
	width: 9px; 
	height: 9px; 
	vertical-align: 
	middle; 
	cursor: default;
}

.tree-item .icon { 
	padding-right: 4px; 
	cursor: pointer; 
	width: 18px; 
	height: 18px; 
	text-align: 
	center; 
	vertical-align: 
	middle; 
}

.tree-item-selected table.tree-table td.label span.label { 
	background-color: Highlight; 
	color: HighlightText; 
}




div.tree-item, div.tree-item:hover {
	cursor:pointer;
	text-align:center;
	font-weight:bold;
	color:#DDDDDD;
}

div.tree-item a{
	text-decoration:none;
}

div.tree-item:hover {
	background-color:#8DD1FB;
}

div.tree-item-expanded, div.tree-item-expanded:hover, div.tree-item-collapsed, div.tree-item-collapsed:hover {
	cursor:pointer;
	text-align:center;
	font-weight:bold;
	font-size:140%;
	color:#DDDDDD;
}

div.tree-item-expanded div.tree-item-collapsed{
	background-color:#6EA4C5;
}

div.tree-item-expanded:hover {
	background-color:#89CCF5;
}


div.tree-item-collapsed:hover {
	background-color:#89CCF5;
}

div.tree-item-expanded td.customIcon {
	background: url("../kde2/1downarrow.png") no-repeat 0 50%;
}
div.tree-item-collapsed td.customIcon {
	background: url("../kde2/1rightarrow.png") 
	no-repeat 0 50%;
}


/* Makes an indent for each subtree */
.tree { padding-left: 10px; }

/* lines */

.tree-lines-c {
  background: transparent url("../img/lines-c.gif") no-repeat 1px 50%;
}
.tree-lines-b {
  background: transparent url("../img/lines-b.gif") no-repeat 1px 50%;
}
.tree-lines-t {
  background: transparent url("../img/lines-t.gif") no-repeat 1px 50%;
}
.tree-lines-s {
  background: transparent url("../img/lines-s.gif") no-repeat 1px 50%;
}
.tree-lined {
 	background: transparent url("../img/lines-v.gif") repeat-y 1px 0;
	background-color:#DFDFDF;
	background-image: url('../ooback/chocolate.jpg')
}
.tree-lines-dot { background: transparent url("../img/dot.gif") no-repeat 1px 50%; }
